{{ define "title"}}
About
{{ end }}

{{ define "top_css"}}
{{ end }}

{{ define "username"}}
{{ .username }}
{{ end }}

{{ define "page_title"}}
About
{{ end }}

{{ define "page_content"}}
<section class="content">
    <div class="container-fluid">
        <!-- <h5 class="mt-4 mb-2">Global Settings</h5> -->
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">About Aershield VPN</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group">
                            <label for="version" class="control-label">Current version</label>
                            <input type="text" class="form-control" id="version" value="v0.1" readonly>
                        </div>




                        <strong>Copyright &copy;
                            <script>document.write(new Date().getFullYear())</script>
                            <a href="https://penta.ie">Penta Networks</a>.
                        </strong> All rights reserved.

                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
{{ end }}

{{ define "bottom_js"}}



        

        

    $(document).ajaxStop(function () {
        if (Date.parse($("#currentReleaseDate").val()) < Date.parse($("#latestReleaseDate").val())) {
            $("#currentReleaseDate").after("<p style=\"color:red\">Current version is out of date</p>")
        }
    });


</script>
{{ end }}
